<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ExcelReader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="ExcelReader.Properties.Settings.CollectConnectionString"
            connectionString="Data Source=10.1.32.56;Initial Catalog=ImportProcessing;Integrated Security=True;Connection Timeout=300"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <ExcelReader.Properties.Settings>
            <setting name="NumberDecimalSeparator" serializeAs="String">
                <value>,</value>
            </setting>
            <setting name="ShortDatePattern" serializeAs="String">
                <value>dd.MM.yyyy</value>
            </setting>
            <setting name="ShowNullDoubleError" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="admins" serializeAs="String">
                <value>ikotvytskyi,yvashchenko</value>
            </setting>
        </ExcelReader.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ExcelReader.Properties.Settings>
            <setting name="TmpSqlServer" serializeAs="String">
                <value>10.1.32.56</value>
            </setting>
        </ExcelReader.Properties.Settings>
    </userSettings>
</configuration>